<app-navbar></app-navbar>


<div class="container mt-5">
    <h1>About page</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos tempore voluptatem iusto, eaque voluptatibus quod alias sequi incidunt ullam ex nihil culpa harum porro recusandae, deserunt a esse eos nesciunt.
    </p>


    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about/team" routerLinkActive="active">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about/historic" routerLinkActive="active">Historic</a>
        </li> 
      </ul>



    <router-outlet></router-outlet>
    
</div>